<%- include('header.ejs') -%> 
<% categories.forEach((category) => { %>
    <div class="category">
        <h2 class="category-title"><%= category.title%></h2>
        <% category.videos.forEach((id) => { %>
            <div class="video">
                <a class="video-container" href="<%= "/"+id %>">
                    <div class="video-thumbnail">
                        <img class="video-image" src="<%= videos[id-1].poster %>">
                        <p class="video-length"><%= getRuntime(videos[id-1].duration) %></p>
                    </div>
                    <div class="video-info">
                        <h3 class="video-name"><%= videos[id-1].title %></h3>
                        <p class="video-createtime"><%= getTimeText(videos[id-1].created) %></p>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
    <hr class="page-break">
<% }); %>
<%- include('footer.ejs') -%>